ul {
    list-style-type: none;
}

.nav-bar{
    background-color: rgb(46, 45, 45);
    width: 100%;
    min-height: clamp(3.5rem, 8vw, 6.25rem);

    z-index: 0;

    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    z-index: 99;
}


.left-nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
    margin: 0;
    align-items: center;
    padding-left: clamp(0.75rem, 6vw, 8.5rem);
}

.bardan-logo{
    height: clamp(1.8rem, 3.5vw, 4.5rem);
    width: auto;
    display: block;
}


.right-nav{
    display: flex;
    justify-content: right;
    align-items: center;
    align-self: right;
    height: 100%;
    width: 70%;
    margin-right: clamp(0.75rem, 6vw, 8.5rem);   
}

.home, .about-me, .projects, .contact{
    font-family: 'consolas', monospace;
    font-size: clamp(0.7rem, 1.1vw, 1.6rem);
    color: white;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    position: relative;
}

.home, .about-me, .projects{
    margin-right: clamp(0.75rem, 2vw, 2.5rem);
}

.home::before, .about-me::before, .projects::before, .contact::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-image:conic-gradient(white);
    width: 0%;
    transition: 0.5s;
}

.home:hover::before, .about-me:hover::before, .projects:hover::before, .contact:hover::before{
    width: 100%;
}

.disable:hover{
    cursor: not-allowed;
}