.Projects-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: clamp(2rem, 5vw, 8rem);
    border-bottom: solid 2px grey;
}
.title-projects{
    font-family: 'consolas', monospace;
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: bold;
    align-self: center;
    position: relative;
}

.title-projects::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-image:conic-gradient(red, blue);
}

.projects-div {
    display: grid;
    width: 90%;
    padding: clamp(0.5rem, 1vw, 2rem);  

    gap: clamp(1rem, 3vw, 2rem);

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
}

.project-display{
  width: 100%;
  max-width: 560px;
  aspect-ratio: 20 / 10;
  background-color: black;
  border: 2px solid grey;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 1200px) {
  .projects-div {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

.project-images{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); 
  color: white;
  font-size: clamp(1rem, 3vw, 1.6rem);
  font-weight: bold;
  font-family: 'consolas', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-display:hover .overlay-text {
  opacity: 1; 
}

.project-display:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.coming-soon{
  cursor:not-allowed;
}

