.button-div{
    position: absolute;
    align-content: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;

    display: inline-block;
}

.scroll-button{
    margin-bottom:0;
    position: relative;
    align-content: center;

    padding: clamp(0.6rem, 2.5vw, 1.3rem)
           clamp(1.2rem, 6vw, 5.5rem);
    border: solid black 1px;
    border-radius: 100px;
    background-color: black;

    font-family: 'consolas', monospace; 
    text-align: center;
    font-size: clamp(0.9rem, 3.5vw, 1.5rem);
    color: white;
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;
    animation: 
        fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.scroll-button:hover{
    color: black;
}


.scroll-button::before{
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    border-radius: 100px;
    transition: 0.5s;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: -1;
}

.scroll-button:hover::before{
    height: 100%;
}

