.edit-profile-div{
    padding-top: 36px;
    padding-bottom: 36px;
}

.profile-text{
    margin-left: 45px;
    margin-top: 32px;
    font-size: 24px;
    color: white;
    padding-bottom: 20px;
}

.pic-name-div{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 32px;
}

.profile-pic-again{
    height: 38px;
    width: 38px;
    background-image: url(Pictures/Profile-pics/Profle-pic.png);
    background-size: 38px;
    background-repeat: no-repeat;
    margin-left: 124px;
    margin-right: 32px;
}

.profile-name-change{
    display: flex;
    flex-direction: column;
}

.profile-name-again{
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.change-pic-button{
    color: #0095F6;
    font-size: 14px;
    font-weight: 600;
}

.change-pic-button:hover{
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.forum-div{
    margin-top: 16px;
}

.website-holder-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.website-p{
    color: white;
    margin-left: 105px;
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: 32px;
    font-weight: 600;
    font-size: 16px;
}

.input-and-text-top{
    display: flex;
    flex-direction: column;
}

.website-input{
    width: 355px;
    height: 30px;
    background-color: rgb(38, 38, 38);
    border: none;
    padding-left: 10px;
    color: rgb(168, 168, 168);
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
}

.website-input{
    cursor: not-allowed;
}

.longass-text{
    font-size: 12px;
    color: rgb(168, 168, 168);
    margin-top: 8px;
    margin-bottom: 8px;
    width: 355px;
}

.bio-div{
    display: flex;
    flex-direction: row;                                                                                                                                                                         
    align-items: center; 
}

.bio-p{
    color: white;
    margin-left: 140px;
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: 32px;
    font-weight: 600;
    font-size: 16px;
}

.bio-input{
    width: 355px;
    height: 60px;
    border-radius: 3px;
    border: solid;
    background-color: transparent;
    border-width: 0.8px;
    color: white;
    border-color:rgb(85, 85, 85) ;
}

.amount-bio{
    font-size: 12px;
    color: rgb(168, 168, 168);
    margin-top: 8px;
    margin-bottom: 8px;
    width: 355px;
}